#definitions {
    transition: height 0.2s ease-in-out;
}

.block-link {
	padding: 0.75rem;
    display: block;
    height: 100%;
    width: 100%;
}

.block-link:hover {
    text-decoration: none;
}

.article-margin {
    margin: 30px 0 80px 0;
}