.animated-collapse {
    transition: height 0.1s ease-in-out;
}

.btn-outline-primary:hover {
	background-color: var(--white) !important;
	color: var(--primary) !important;
}

.row-grey {
	background-color:#f2f2f2;
}