.block-link {
	padding: 0.75rem;
    display: block;
    height: 100%;
    width: 100%;
}

.block-link:hover {
    text-decoration: none;
}

.animated-collapse {
    transition: height 0.2s ease-in-out;
}

#relations h1 a {
    font-size: inherit;
    height: 100%;
    width: 100%;
    display: block;
}

#relations h1 a:hover {
    text-decoration: none;
}

#relations h1 a.collapsed-arrow::after {
    content: url(img/svg_arrow.svg);
    position: absolute;
    margin-top: 2px;
    transform: rotate(180deg);
    right: 1rem;
}

#relations h1 a.expended-arrow::after {
    content: url(img/svg_arrow.svg);
    position: absolute;
    transform: translateY(-2px);
    right: 1rem;
}
