<form ngNoForm method="get">
    <div>
		<input type="text" name="term" [(ngModel)]="term" placeholder="Terme" required>
    </div>

    <div>
		<input type="text" name="node" [(ngModel)]="node" placeholder="Terme associé">
	</div>

	<div>
		<label for="not_out">Pas de Relations Sortantes</label>
		<input type="checkbox" name="not_out" [(ngModel)]="not_out" value="true">
    </div>
	
    <div>
		<label for="not_in">Pas de Relations Entrantes</label>
		<input type="checkbox" name="not_in" [(ngModel)]="not_in" value="true">
	</div>

    <div>
		<input type="text" name="nb_terms" [(ngModel)]="nb_terms" placeholder="Limiter le nombre de terme (20 par défaut)">
    </div>

	<input type="hidden" name="p" [(ngModel)]="page">
	
    <div>
        <input type="submit" name="submit" value="Rechercher">
    </div>
</form>
