<section id="form" class="text-left">
	<form ngNoForm method="get" action="/search">
	    <div class="form-group input-group">
			<input type="text" name="term" [(ngModel)]="term" placeholder="Terme" class="form-control" required>
			<div class="input-group-prepend" *ngIf="!default_is_advanced">
				<input type="submit" name="submit" value="" class="btn btn-primary icon-input icon-submit">
				<input type="button" (click)="toggleAdvanced()" [ngClass]="{
					'btn': true,
					'btn-secondary': true,
					'icon-input': true,
					'icon-advanced-add': !is_advanced,
					'icon-advanced-remove': is_advanced
				}">
			</div>
	    </div>

		<div id="advanced-block" [ngClass]="{
			'show-advanced': is_advanced,
			'hide-advanced': !is_advanced
		}">
		    <div class="form-group">
				<input type="text" name="node" [(ngModel)]="node" placeholder="Terme associé" class="form-control">
			</div>

			<div class="container row">
				<div class="form-group form-check custom-control custom-checkbox col-lg-6">
					<input type="checkbox" name="not_out" id="not_out" [(ngModel)]="not_out" value="true" class="custom-control-input">
					<label for="not_out" class="custom-control-label">Pas de relations sortantes</label>
			    </div>

			    <div class="form-group form-check custom-control custom-checkbox col-lg-6">
					<input type="checkbox" name="not_in" id="not_in" [(ngModel)]="not_in" value="true" class="custom-control-input">
					<label for="not_in" class="custom-control-label">Pas de relations entrantes</label>
				</div>
			</div>

		    <div class="form-group">
				<input type="number" name="nb_terms" [(ngModel)]="nb_terms" placeholder="Limiter le nombre de terme (20 par défaut)" class="form-control">
		    </div>
		</div>

		<input type="hidden" name="p" [(ngModel)]="page">

	    <div class="row" *ngIf="default_is_advanced">
			<div class="col-md-2"></div>
			<div class="col-md-4 form-group">
	        	<input type="submit" name="submit" value="Rechercher" class="btn btn-primary col-md-12">
			</div>
			<div class="col-md-4 form-group">
				<input type="button" value="Recherche avancée" (click)="toggleAdvanced()" class="btn btn-secondary col-md-12">
			</div>
	    </div>

	</form>

</section>
