
.black-foreground > div {
	background-color: #007bff;
	mask-image: url(img/svg_loading.svg);
	mask-repeat: no-repeat;
	mask-size: 20%;
	mask-position: center;
	text-align: center;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
