.icon-input {
	mask-repeat: no-repeat;
	mask-size: 30px;
	mask-position: center;
	position: absolute;
	height: 100%;
	width: 45px;
	font-size: 0;
	z-index: 9;
}

.icon-submit {
	mask-image: url(img/svg_search.svg);
	right: 0;
}

.icon-advanced-add {
	mask-image: url(img/svg_add.svg);
}

.icon-advanced-remove {
	mask-image: url(img/svg_remove.svg);
}

input[type="text"] {
	border-radius: 0.25rem !important;
}

.animated-collapse {
    transition: height 0.1s ease-in-out;
}

.search-min {
	padding-right: 45px;
}
