<table class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th class="th_relation_type th_relation_type_name">
                <a href="javascript:void(0)" (click)="changeOrder('name')" class="text-dark">
                    Nom
                    <img src="/assets/svg_not_sort_arrow.svg" class="svg_name not_sorted_arrow" alt="non trié">
                </a>
            </th>
            <th class="th_relation_type">
                <a href="javascript:void(0)" (click)="changeOrder('weight')" class="text-dark">
                    Pertinence
                    <img src="/assets/svg_sort_arrow.svg" class="svg_weight sorted_arrow" alt="trié">
                </a>

            </th>
        </tr>
    </thead>
    <tbody>
        <tr [ngClass]="{'table-warning': n.weight < 0}" *ngFor="let n of container.data | sortBy:container.order:container.sorted_by">
            <td class="text-break p-0">
                <a href="{{ generateWordLink(n) }}" class="block-link">{{n.name}}</a>
            </td>
            <td class="">{{n.weight}}</td>
        </tr>
    </tbody>
</table>

<ngb-pagination
    *ngIf="container.nb_pages !== 1"
    (page)="1"
    [pageSize]="getNbTerms()"
    [maxSize]="3"
    [rotate]="true"
    [collectionSize]="container.count"
    [ellipses]="true"
    (pageChange)="loadPage($event)"
    class="d-flex justify-content-center"></ngb-pagination>
