<section id="search" class="p-4">
	<div class="row mt-2">
		<div class="logo-height mx-2 d-xl-block d-none">
			<app-logo></app-logo>
		</div>

		<div class="col-xl-3 d-xl-none d-block input-group-prepend mb-3">
			<input type="button" class="btn btn-light icon-previous">
			<a href="/" class="btn btn-primary previous-button">Accueil</a>
		</div>

		<div class="col-xl-5">
			<app-form [is_min]="true"></app-form>
		</div>
	</div>

	<div class="border-top my-3"></div>

	<div class="row">
		<div class="col-md-12">
			<app-result></app-result>
		</div>
	</div>
</section>
