<section id="search" class="p-4">
	<div class="row">
		<div class="col-xl-2 mb-3">
			<app-logo></app-logo>
		</div>

		<div class="col-xl-4 mt-2">
			<app-form [is_min]="true"></app-form>
		</div>
	</div>
<!--	
	<div class="row mb-3">
		<div class="col-xl-3 d-block d-xl-none input-group-prepend">
			<input type="button" class="btn btn-light icon-previous">
			<a href="/" class="btn btn-primary previous-button">Retour</a>
		</div>
	</div>

	<div class="row">

	</div>
-->
	<div class="border-top my-3"></div>

	<div class="row">
		<div class="col-md-12">
			<app-result></app-result>
		</div>
	</div>
</section>
